# allows markdown files (*.md files) to show in the repo capsule
*.md linguist-detectable

# allows py files (*.py files) to show in the repo capsule
*.py linguist-detectable

# allows png files (*.png files) to show in the repo capsule
*.png linguist-detectable
# allows svg files (*.svg files) to show in the repo capsule
*.svg linguist-detectable
# allows ico files (*.ico files) to show in the repo capsule
*.ico linguist-detectable
